doctype html
html(lang='en')
  head
    title= title  
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="icon" type="image/png" href!=staticUrl("favicon-32x32.png"))
    link(rel="icon" type="image/png" href!=staticUrl("favicon-16x16.png"))
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fredoka+One")
    !=cssTag("site")
    block moreCss
  body(data-socket-domain=socketDomain)
    header(id="top")
      div(class="site-title-nav")
        h1(class="site-title")
          a(href="/") oyunkeyf
            if (isProd)
             span=".net"
            else
             span=".dev"
    div(id="main-wrap")
      block body
    if (isProd)
      !=jsAt("compiled/star.site.min.js", true)
    else
      !=jsAt("compiled/star.deps.js", true)
      !=jsAt("compiled/star.site.js", true)
    block moreJs