@import '../abstract/functions';

/* Colors */

@function c-dimmer($color, $weight: 17%) {
  @return mix(#fff, $color, $weight);
}

@function c-clearer($color, $weight: 17%) {
  @return mix(#000, $color, $weight);
}

$c-site-hue: 37;

$c-bg-page: hsl($c-site-hue, 10%, 92%);
$c-bg-high: hsl(0, 0%, 100%);
$c-bg-low: hsl(0, 0%, 89%);

$c-bg-zebra: hsl($c-site-hue, 12%, 96.5%);
$c-bg-zebra2: hsl($c-site-hue, 12%, 92%);

$c-body-gradient: hsl($c-site-hue, 12%, 84%);

$c-font: hsl(0%, 0%, 30%);
$c-font-page: c-light($c-font, 37%);

/* Primary blue */
$c-primary: hsl(209, 79%, 53%);
$c-primary-dim: c-dimmer($c-primary);
$c-primary-over: #fff;

/* Accent: orange */
$c-accent: hsl(22, 100%, 42%);
$c-accent-over: #fff;

$c-link: $c-primary;
$c-link-dim: $c-primary-dim;
$c-link-hover: c-clearer(saturate($c-primary, 100%), 35%);

$c-bg-box: $c-bg-high;

$c-font-shadow: white;
$text-shadow: 0 1px 0 $c-font-shadow;

$c-border: hsl(0, 0%, 85%);

$border-width: 1px;
$border-style: solid;
$border: $border-width $border-style $c-border;

$box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);

