extends ../layout

block moreCss
  !=cssTag("lobby")
  
block body
  main(class="lobby")
    div(class="lobby__table")
      div(class="lobby__counters")
        a(id="nb_connected_players" href="#")= trans.nbPlayers("?")
        a(id="nb_games_in_play" href="#")= trans.nbGamesInPlay("?")
    div(class="lobby__app")
      div(class="lobby__app__content")