.lpools {
  padding: 9px;
  @include fluid-size('font-size', 16px, 29px);

  > div {
    @extend %flex-column, %box-radius, %break-word;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: $border;
    background: fade-out($c-bg-box, .5);
    color: $c-font;
    @include transition();
    &:hover {
      background: fade-out($c-accent, .8);
      opacity: 1;
    }
  }
}
