%base-font-fallback {
  font-family: 'Noto Sans', Sans-Serif;
}

%base-font {
  font-family: 'Noto Sans';
}

%roboto {
  font-family: 'Roboto';
}

%page-font {
  color: $c-font-page;
}

%page-text {
  @extend %page-font, %page-text-shadow !optional;
}

%nowrap-hidden {
  white-space: nowrap;
  overflow: hidden;
}

%break-word {
  overflow-wrap: break-word;
}
